html{
  font-size: $font-size-global * 1px;
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: $ff;
  line-height: 1.5;
  background-color: #fff;
  color: rgba(0,0,0,0.5);
  letter-spacing: 0.5px;
  font-weight: $ff-regular;
}

h1,h2,h3,h4,h5,h6{
  color: #000;
  line-height: inherit;
  font-weight: $ff-bold;
  letter-spacing: normal;  

  .mg--text_color-white &{
    color: #fff;
  }
}

h1,
.mg--h1{
  @include fz-rem(80);
  font-weight: $ff-bold;
}

h2,
.mg--h2{
  @include fz-rem(48);

    &.mg--secondary{
      @include fz-rem(24);
    }
}

h3,
.mg--h3{
  @include fz-rem(36);
}

h4,
.mg--h4{
  @include fz-rem(18);
  font-weight: $ff-semibold;
}

small{
  @include fz-rem(12);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-black;

  .mg--text_color-white &{
    color: #fff;
  }
}

b{
  font-weight: $ff-bold;
}

[hidden]{
  display: none !important;
}

a{
  font-weight: $ff-semibold;
  color: inherit;

    &:hover{
      color: $color-primary;
    }

    &.mg--underlined{
      text-decoration: underline;

        &:hover{
          text-decoration: none;
        }
    }
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
input,
textarea{
  padding: 0 20px;
  width: 100%;
  height: 65px;
  line-height: normal;
  border: none;
  font-size: 0.875rem;
  outline: none;
  font-family: inherit;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  text-align: right;
}
button{
  cursor: pointer;
}

@include placeholder(true){
  color: #fff;
  text-transform: uppercase;
  opacity: 1;
}

.mg-icon_arrow{
  color: #000;
  height: 1px;
  width: 60px;
  background: currentColor;
  position: relative;
  transition: all 0.6s ease-in-out;

    .mg--text_color__white & {
      color: #fff;
    }

    &:before{
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      top: 50%;
      left: 100%;
      transform: translate(0, -50%);
      border-left: 13px solid currentColor;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-right: none;
    }

    &.mg--left_side{
      &:before{
        right: 100%;
        left: auto;
        border-right: 13px solid currentColor;
        border-left: none;
      }
    }
}

.mg--{
  &text_{
    &align-{
      &center{
        text-align: center;
      }
  
      &right{
        text-align: right;
      }
    }

    &color-{
      &white{
        color: #fff;
      }
    }

    &underlined{
      position: relative;
      z-index: 1;

      &:after{
       content: '';
       position: absolute;
       width: 100%;
       height: 1.25rem;
       bottom: 0.25rem;
       left: 0;
       z-index: -1;
       background-color: $color-primary; 
      }
    }
  }

  &bg_cover{
    background-color: $bg-color-media;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  &bg_primary{
    background-color: $color-primary;
  }

  &bg_secondary{
    background-color: $color-secondary;
  }

  &bg_grey{
    background-color: $color-grey;
  }

  &block{
    display: block;
  }

  &flex{
    display: flex;
  }

  &pb_100{
    padding-bottom: 50px;
    
    @include media(md){
      padding-bottom: 100px;
    }
  }

  &thumbnail{
    min-height: 400px !important;
  }

  &work_article{
    &:hover{
      .mg-icon_arrow{
        width: 100px;
      }
    }
  }

  &img_block{
    display: block;
    width: 100%;
    height: auto;
    // margin: 0 auto;
  }

  &img_cover{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }

  &padding_{
    &sm{
      padding: 50px 0;
      @include media(md){
        padding: 100px 0;
      }
    }

    &md{
      padding: 75px 0;
      @include media(md){
        padding: 150px 0;
      }
    }

    &lg{
      padding: 100px 0;
      @include media(md){
        padding: 200px 0;
      }
    }
  }

  &opacity_{
    &05{
      opacity: 0.5;
    }
    &08{
      opacity: 0.8;
    }
  }

  &hide_{
    &xs{
      @include media(xs){
        display: none;
      }
    }
  }

  &screen_{
    &full{
      min-height: 100vh;
    }
  }
}

hr{
  background-color: currentColor;
  margin: 0;
  height: 1px;
  border: none;
  opacity: 0.1;
}

.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

    &_lg{
      max-width: 1330px;
      padding: 0 15px;
      margin: 0 auto;
    }
}

.mg-button{
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 165px;
  line-height: 50px;
  font-family: inherit;  
  font-size: 0.875rem;
  font-weight: $ff-semibold;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  color: #000;
  transform: translate(-4px, -4px);
  @include transition($name: transform);
  &:before{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid #000;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 1px;
    transform: translate(-10px, -0.05rem);
    @include transition;
  }
  &:after{
    content: '';
    box-sizing: border-box;     
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid #fff;
    transform: translate(8px, 8px);
    @include transition;
  }
  &:hover{
    color: initial;
    transform: translate(0, 0);
    &:before{
      transform: translate(-5px, -0.05rem);
    }
    &:after{
      transform: translate(0,0);
    }
  }
}

.mg-page_header{
  &__bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    img{
      // filter: grayscale(1);
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &:after{
      // content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background-color: $color-primary;
      opacity: 0.7;
    }
    &:before{
      // content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      background-color: $color-black;
      opacity: 0.7;
    }
  }

  &__title{
    padding: 0 15px;
  }

  &__bottombox{
    padding: 100px 0;

      img{
        margin-bottom: 10px;
      }
  }

  .container{
    position: relative;
    z-index: 2;
  }
}

.mg-logo{
  position: absolute;
  top: 35px;
  left: 3vw;
  z-index: 2;
  line-height: 1;
}

.mg-nav{
  position: absolute;
  top: 35px;
  right: 3vw;
  z-index: 2;
  nav{
    a{
      display: block;
      font-weight: $ff-semibold;
      margin: 0 30px;
      text-transform: capitalize;
      text-decoration: none;
      line-height: 1;
      position: relative;
      z-index: 1;
      opacity: 0;
      transform: translateY(-15px);
      visibility: hidden;
      @include transition;
      &:hover,
      &.active{
        color: currentColor;
        &:after{
          content: '';
          width: 100%;
          height: 0.5em;
          background-color: $color-primary;
          position: absolute;
          left: 0;
          bottom: -0.065em;
          z-index: -1;
        }
      }
    }
  }
  &_btn{
    width: 32px;
    height: 21px;
    position: relative;
    cursor: pointer;
    div{
      height: 3px;
      width: 100%;
      background-color: currentColor;
      position: absolute;
      top: 0;
      right: 0;
      &:nth-child(1){
        transition: top 0.3s 0.3s ease, transform 0.3s 0s ease, width 0.3s ease;
      }
      &:nth-child(2){
        top: 9px;
        width: 60%;
        @include transition;        
      }
      &:nth-child(3){
        top: 18px;
        width: 80%;
        transition: top 0.3s 0.3s ease, transform 0.3s 0s ease, width 0.3s ease;
      }
    }
    &:hover{
      div{
        width: 100%;
      }
    }
  }
  &.is-opened{
    nav{
      a{
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
        &:nth-child(1){
          transition-delay: 0.4s;
        }
        &:nth-child(2){
          transition-delay: 0.3s;
        }
        &:nth-child(3){
          transition-delay: 0.2s;
        }
        &:nth-child(4){
          transition-delay: 0.1s;
        }
      }
    }
    .mg-nav_btn{
      div{
        width: 100%;
        top: 9px;
        &:nth-child(1){
          transform: rotate(-45deg);
          transition: top 0.3s 0s ease, transform 0.3s 0.3s ease, width 0.3s ease;          
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(45deg);
          transition: top 0.3s 0s ease, transform 0.3s 0.3s ease, width 0.3s ease;          
        }
      }
    }
  }
}

.mg-about{
  background: $color-primary linear-gradient(90deg,
  $color-primary calc(100% - 1px), rgba(255,255,255,0.1) 1px
  ) center / 250px repeat;
  padding: 110px 0;
  &__header{
    margin: 35px 70px;
  }

  &__content-box{
    margin: 35px 50px;
    width: 50%;
    padding-left: 35px;
    position: relative;
    &_header{
      padding-bottom: 20px;
      span{
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.mg-techs{
  .swiper-container{
    background: #F3F3F3;
    height: 150px;
  }
  .swiper-slide{
    // width: 150px;
    // padding: 25px 0;
    img{
      // display: block;
      // max-height: 65px;
      // height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // filter: grayscale(1);
      // opacity: 0.6;
    }
  }
}

.mg-works{
  padding-top: 150px;
  &_header{
    padding-top: 320px;
    .container{
      max-width: 900px;
    }
  }
  &_grid{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    &-article{
      height: 600px;
      position: relative;
      overflow: hidden;
      &:hover .grid-overlay{
        opacity: 1;
      }
      & .grid-overlay{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color-primary;
        opacity: 0;
        @include transition;
      }
      &.mg--elem_lg{
        grid-column-start: span 2;
        .grid-overlay{
          top: 30px;
          right: 30px;
          bottom: 30px;
          left: 30px;
        }
      }
    }
  }

  &_btn{
    display: block;
    padding: 100px 0;
    font-weight: $ff-regular;
    text-align: center;
    text-decoration: none;
    color: #000;
    @include transition;
    span{
      display: inline-block;
      @include transition;
    }
    &:hover{
      color: initial;
      span{
        transform: translateX(5px);
      }
    }
  }
}

.mg-work_article{
  .mg-works_header{
    padding-bottom: 250px;
  }
  &-image{
    @include aspect-ratio(16,9);
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &-dscr{
    max-width: 950px;
    padding: 150px 0;
    margin: 0 auto;
  }
  &-btn{
    color: inherit;
    padding: 150px 0;
    text-decoration: none;
    font-weight: $ff-regular;
    p{
      line-height: 1;
      color: #000;
    }
  }
}


// Animation
@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}