@import '../../node_modules/normalize.css/normalize';

*{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,a{
  margin: 0;
  font-weight: inherit;
}

cite{
  font-style: normal;
}

h1,h2{
//   line-height: 1;
}