$bg-color-media: #D8D8D8;

$color-primary: #4B8AF7;
$color-secondary: #FBFBFB;

$font-size-global: 16px;

$ff-regular: "Avenir Next Regular";
$ff-medium: "Avenir Next Medium";
$ff-bold: "Avenir Next Bold";
$ff-demibold: "Avenir Next Demi Bold"; 