<div class="mg-article_paggy mg--bg_primary mg--text_color__white">
    <div class="container-fluid">
      <div class="row">
        <a href="@@prev-url" class="col-4 flex-row d-flex align-items-center justify-content-end mg--text_right"><i class="mg-icon_arrow mg--left_side"></i><p>Previous</p></a>
        <a href="works-page.html" class="col-4 flex-row d-flex align-items-center justify-content-center mg--text_center"><p>All Projects</p></a>
        <a href="@@next-url" class="col-4 flex-row d-flex align-items-center"><i class="mg-icon_arrow order-md-2"></i><p>Next</p></i></a>
      </div>
    </div>
  </div>