<article class="mg-cta_section mg--bg_secondary mg--text_center mg--padding_lg">
  <div class="container">
    <div class="row">
      <section class="col-12">
        <h3 class="mg-cta_section__header mg--h1">Time is Money. Stop Wasting It.</h3>
        <p class="mg-cta_section__subheader col-md-8 offset-md-2 col-lg-6 offset-lg-3">Come hire us and experience the awesome features we built for you and your business.</p>
        <a href="contact.html" class="mg-button">Let’s Get Srarted</a>
      </section>
    </div>
  </div>
</article>