<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>MGROUP Development Studio | Web UX/UI Design & Development</title>
<meta name="description" content=".mGroup is Digital Studio that specialising in strategy, design and development. Our team know how to grow digital business or startup from scratch">
<meta name="keywords" content="Mgroup studio,it group, it studio, it agency, web agency, web studio, Web, web company, web development, web dev studio, web dev ukraine, IT, web design, web ui design, ui ux design, web ui ux design, IT outsourcing">

<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#4B8AF7">
<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#4B8AF7">

<meta property="og:title" content="">
<meta property="og:description" content=".mGroup is Digital Studio that specialising in strategy, design and development. Our team know how to grow digital business or startup from scratch">
<meta property="og:url" content="index">
<meta property="og:image" content="/images/logo-mgroup.jpg">
<meta property="og:type" content="website">
<meta name="twitter:title" content="">
<meta name="twitter:description" content=".mGroup is Digital Studio that specialising in strategy, design and development. Our team know how to grow digital business or startup from scratch">
<meta name="twitter:image" content="/images/logo-mgroup.jpg">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113192909-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113192909-1');
</script>

<link rel="stylesheet" href="css/style.css">
</head>