<header class="mg-page_header layout vertical end-justified mg--text_align-center mg--text_color-white mg--screen_full">
  <!-- @@include("src/components/page-navigation.html") -->
    <div class="mg-page_header__bg mg--bg_cover" style="background-image: url('images/page-header_bg.jpg')"></div>
    
    <section class="container">
      <h1 class="mg-page_header__title mg--h2">We provide <span class="mg--text_underlined">high quality</span> and <span class="mg--text_underlined">cost effective</span> web development services</h1>

      <div class="mg-page_header__bottombox">
        <img src="images/icons/icon-mouse.svg" alt="" width="25px" height="35px">
        <p><small>scroll to discover more</small></p>
      </div>
    </section>
</header>