<nav class="mg-page_navigation">
   <div class="container-fluid">
     <div class="row">
       <div class="col-8 col-sm-3 align-items-center d-flex">
         <a href="/"><img src="images/icons/icon-logo.svg" alt=""></a>
       </div>
       <div class="col-4 col-sm-9 justify-content-end align-items-center d-flex">
         <nav class="mg-page_navigation__links d-flex">
           <a href="/">About</a>
           <a href="works-page.html">Works</a>
           <a href="#footer">Contacts</a>
           <a href="#footer">Hire Us</a>
         </nav>

         <div id="mg-page_nav__toggle-button" class="mg-page_navigation__toggle-button d-flex align-items-center">
           <div class="button"><span></span><span></span><span></span></div>
         </div>
       </div>
     </div>
   </div>
</nav>