<header class="mg-page_header mg--index_page mg--text_center mg--bg_primary mg--text_color__white">
  @@include("src/components/page-navigation.html")
  <div class="container">
    <div class="mg-page_header__content row flex-column justify-content-between">
      <div></div>

      <section>
        <h1 class="mg-page_header__title mg--h1 col-md-10 offset-md-1 col-lg-12 offset-lg-0">We're an Experienced Digital Company</h1>
        <p class="mg-page_header__subtitle col-md-8 offset-md-2">Designed specifically for your business.We help big organisations and small local businesses improve their digital
          presence</p>
        <a href="contact.html" class="mg-button mg--clear">Hire Us</a>
      </section>

      <div class="mg-page_header__bottombox">
        <img src="images/icons/icon-mouse.svg" alt="" width="25px" height="35px">
        <p>scroll to discover more</p>
      </div>
    </div>
  </div>
</header>