<footer class="mg-page_footer">
  <div class="container">
    <div class="row">
      <nav class="mg-page_footer__nav col d-flex flex-row justify-content-center">
        <a href="#">Features</a>
        <a href="#">Works</a>
        <a href="#">Careers</a>
        <a href="#">Blog</a>
        <a href="#">Contact Us</a>
      </nav>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        <p class="copy mg--text_center">© 2017 Made with  <img class="mg-icon_heart" src="images/icons/icon-heart.svg" alt="">  by MondayGroup</p>
      </div>
    </div>
  </div>
</footer>