<article class="mg-review flex-column mg--text_center wow fadeInUp">
    <div class="mg-review__rating d-flex justify-content-center">
      <img src="images/icons/icon-star.svg" alt="">
      <img src="images/icons/icon-star.svg" alt="">
      <img src="images/icons/icon-star.svg" alt="">
      <img src="images/icons/icon-star.svg" alt="">
      <img src="images/icons/icon-star.svg" alt="">
    </div>
    <blockquote class="mg-review__text">"@@blockquote"</blockquote>
    <cite class="mg-review__name mg--block">@@name</cite>
    <date class="mg-review__date"><i>@@date</i></date>
</article>