<section class="mg-review_section mg--pb_100 mg--bg_secondary">
  @@include('./src/components/section-header.html',{ "title": "Loved by Our Customers ", "subtitle-classes": "col-md-8 offset-md-2 col-lg-6 offset-lg-3",
  "subtitle": "We are Top Rated developers in Upwork.<br>Visit <a href='https://www.upwork.com/agencies/~017013dbd6a17427d6' target='_blank'>our agency profile</a> to see more testimonials." })

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        @@include('./src/components/review-block.html',{
          "blockquote": "Yana was able to understand the necessity of our business and apply design structure and techniques that incorporated well with the identity we were looking for. I highly recommend her and we will definitively work with her in future projects.",
          "name": "Glenn Lee",
          "date": "Apr 2016"
        })

        @@include('./src/components/review-block.html',{
          "blockquote": "If you want quality work, professionalism and a fair price - go with Yana. It's as simple as that.",
          "name": "Brendan Limn, CEO of Qontak.com",
          "date": "May 2015"
        })
      </div>
      <div class="col-md-6">
        @@include('./src/components/review-block.html',{
          "blockquote": "I really appreciate Yana's ability to work efficiently with minimal direction. Sharing and incorporating her own ideas as appropriate while always keeping the desired outcomes in mind. She´s a pleasure to work with and very collaborative.",
          "name": "Kristian Gundersen",
          "date": "Nov 2016 - Jan 2017"
        })

        @@include('./src/components/review-block.html',{
          "blockquote": "Yana delivered a great design for our new platform. We needed something done quickly and she delivered everything on time and to a high quality. <br><br>We would definitely recommend Yana!",
          "name": "Andy Kulina",
          "date": "Nov 2017 - Dec 2017"
        })
      </div>
    </div>
  </div>
</section>