<a href="@@link">
  <article class="mg-main_article mg--work_article">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-sm-6 mg--bg_cover mg--thumbnail" style="background-image: url('@@img-url')">
        </div>
        <div class="col-sm-4 offset-sm-1">
          <section class="mg-text_section">
            <p class="mg-work_categories"><span>@@category</span></p>
            <h3 class="mg-text_section__work_header">@@header</h3>
            <div class="mg-icon_arrow"></div>
          </section>
        </div>
      </div>
    </div>
  </article>
</a>