.mg-page_footer{
  &__nav{
      a{
        text-decoration: none;
        margin: 35px 10px;
        color: inherit;
        @media screen and (min-width: $mg-layout-md){
          margin: 35px 30px;          
        }
      }
  }

  .copy{
    padding: 15px 0;
    font-size: 0.875rem;

      .mg-icon_heart{
        margin: 0 5px;
      }
  }
}