.mg-page_header{
  position: relative;

    &__content{
      .mg--index_page &{
        min-height: 700px;
      }
      min-height: 400px;
      padding: 50px 0;
    }

    &__title{
      color: inherit;
    }

    .mg-button{
      margin-top: 60px;
    }

    &__bottombox{
      p{
        letter-spacing: 1.2px;
        font-size: 0.625rem;
        font-family: $ff-demibold;
        text-transform: uppercase;
        padding-top: 20px;
      }
    }
}