.mg-page_header{
  position: relative;
    
    &:before{
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $color-primary;
      opacity: 0.9;
    }

    .container{
      position: relative;
      z-index: 2;
    }

    &__content{
      .mg--index_page &{
        min-height: 700px;
      }
      min-height: 400px;
      padding: 50px 0;
    }

    &__title{
      color: inherit;
    }

    .mg-button{
      margin-top: 60px;
    }

    &__bottombox{
      p{
        letter-spacing: 1.2px;
        font-size: 0.625rem;
        font-weight: $ff-semibold;
        text-transform: uppercase;
        padding-top: 20px;
      }
    }
}