.mg-page_header{

    &__content{
      .mg--index_page &{
        min-height: 700px;
      }
      min-height: 400px;
      color: #fff;
      padding: 50px 0;
    }

    &__title{
      font-size: 3rem;
      line-height: 1.67;
      font-family: $ff-demibold;
    }

    &__subtitle{
      margin-top: 15px;
      font-size: 1.125rem;
      letter-spacing: 0.5px;
    }

    .mg-button{
      margin-top: 60px;
    }

    &__bottombox{
      p{
        letter-spacing: 1.2px;
        font-size: 0.625rem;
        font-family: $ff-demibold;
        text-transform: uppercase;
        padding-top: 20px;
      }
    }
}